     
        body {
            background-color: blueviolet;
            font-family: Arial, Helvetica, sans-serif;
            color: yellow;
        }
        
        
        h1 {
            font-size: 3.5rem;
        }
        
        .card {
            background: rgba(255, 191, 0, 0.1);
        }
  